# DNS namespace
instance-id: {{ virt_infra_hostname | default(inventory_hostname) | to_uuid(namespace="6ba7b810-9dad-11d1-80b4-00c04fd430c8") }}
local-hostname: {{ virt_infra_hostname | default(inventory_hostname) }}
